{% load static %}

<link rel="stylesheet" href="{% static 'layout/css/style.css' %}" > 

<div id="footer" class="footer p-4 text-center mt-5">
<div class="container">
    <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/colbe-roberson-a01734221/"><img class="footer-img" id="linkedin" height="40" width="40" src="{% static 'layout/imgs/linkedin.svg' %}"></a>
    <a target="_blank" rel="noopener noreferrer" href="https://medium.com/@roberson.colbe_91639" class="mx-2"><img class="footer-img" id="medium" height="40" width="40" src="{% static 'layout/imgs/medium.svg' %}"></a>
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/cgr28"><img class="footer-img" id="github" height="40" width="40" src="{% static 'layout/imgs/github.svg' %}"></a>
    <a target="_blank" rel="noopener noreferrer" href="mailto: cgr28@njit.edu" class="mx-2"><img class="footer-img" id="github" height="40" width="40" src="{% static 'layout/imgs/email.svg' %}"></a>
</div>
</div>