* {
    font-family: 'Open Sans', sans-serif !important;
}

p {
    filter: opacity(75%);
}

.main {
    color: black !important;
    font-weight: bold;
}

.nav-item {
    transition: 0.25s !important;
    filter: opacity(50%);
    color: #4D724D !important;
}

.nav-item:hover {
    filter: opacity(100%);
}

body {
    background-color: #F5F5F5;
}

a:active {
    color: #8DB48E !important;
}

.box {
    box-sizing: border-box !important;
    border-radius: 100px;
}

nav {
    width: 75%;
    margin: auto;
}

/* .outer-skill-box {
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
} */

#card {
    border-radius: 1% !important;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}

#card-horiz {
    border-radius: 1% !important;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}

.nitem {
    transition: 0.25s !important;
    color: black !important;
    font-weight: bold;
}


#main {
    width: 60%;
}

#footer {
    height: auto;
}

.footer {
    height: 70px;
    clear: both;
    position: relative;
    bottom: 0;
    width: 100%;
}

#skills {
    width: 60%;
}

#outer-layer {
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}

.experience {
    width: 60%;
}

.footer-img {
    transition: 0.25s !important;
    border-radius: 50%;
    filter: opacity(50%);
}

.footer-img:hover {
    filter: opacity(100%);
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    font-weight: bold;
}

.button {
    background-color: #8DB48E;
    border: solid 1.5pt #4D724D;
    border-radius: 100px !important;
    text-decoration-style: none;
    color: #F5F5F5;
    text-decoration: none;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    filter: opacity(75%);
    transition: 0.25s !important;
}

.button:hover {
    color: #F5F5F5;
    filter: opacity(100%);
}
